@import 'styles/vars';

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.socialLink {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10%;

  &:hover,
  &:focus {
    background-color: var(--color-secondary);
  }

  @media screen and (min-width: 1200px) {
    width: 40px;
    height: 40px;
  }
}
